# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# App config (dev only)
appsettings.Development.json
secrets.json

# Dependency directories
node_modules/
wwwroot/lib/

# Publish output
publish/

# User secrets / sensitive files
appsettings.*.json
.env

# Others
*.db